@import url("https://fonts.googleapis.com/css?family=Inter");

:root {
  --ui-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  fill: rgba(0, 0, 0, 0.54);
  --ui-shadow-border: 1px solid rgba(0, 0, 0, 0.14);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  color: white;
}

.topright {
  position: absolute;
  top: 3%;
  right: 1%;
  font-size: 18px;
}

h1,
h2,
h3 {
  font-family: "Inter";

  text-transform: uppercase;

  padding: 0;
  margin: 0;

  color: #2a3747;
}

h1 {
  font-size: 40px;
}

a {
  color: white!important;
  text-decoration: bold;
  cursor: pointer;
  user-select: none;
}

#root {
  display: flex;
  flex-direction: column;
  background: url("../images/background_wide.jpg") no-repeat;
  background-size: cover;
}

.whiteText {
  color: white!important;
}

.small {
  font-size: 10px;
}

.WelcomeView {
  width:  100%;
}

.full_width{
  width:  100%;
  text-align: center;
  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
  border-radius: 15px;
}

.tableText {
  font-size: 12px;
}

.center {
margin: auto;
width: 60%;
padding: 5px;
text-align: center;
color: white;

}

.bottom_left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
  -webkit-filter: drop-shadow(10px 10px 10px #);
  filter: drop-shadow(10px 10px 10px #5a5a5a);
  background-repeat: no-repeat;
  background-image: url(ps.jpg);
}

.bottom_right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 12px;
  -webkit-filter: drop-shadow(10px 10px 10px #);
  filter: drop-shadow(10px 10px 10px #5a5a5a);
  background-repeat: no-repeat;
}

.linkage {
  font-size: 12px;
  color: white;
}

.View {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  height: 100%;
  width: 100%;

  padding: 5px;

  background-size: cover;

  font-family: "Inter";
}

.Banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  border-radius: 5px;

  overflow: hidden;
  background: linear-gradient(rgba(43, 103, 241, 0.3), rgba(255, 255, 255, .15));
  backdrop-filter: blur(25px);
  padding: 5px;

  font-family: "Inter";
  color: white;

  border: 0.25px solid rgba(255, 255, 255, 0.33);
  box-shadow: 2px 3px 1px 1px rgba(0, 0, 100, .5);
}

.progress {
  height: 0.25rem!important;
}

.Message {
  background: linear-gradient(rgba(145, 205, 255, 0.1), rgba(43, 103, 241, .05));
  backdrop-filter: blur(69px);
  object-fit: fill;
  padding: 20px;
  border: 0.5px solid rgba(255, 255, 255, 0.33);
  box-shadow: 2px 3px 1px 1px rgba(0, 0, 100, .5);
  border-radius: 25px;
}

.Message > .Title {
  padding-bottom: 5px;
}

.Message > .Details {
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
  color: white;
}

.NavButtons {
  display: unset;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

.clearButton {
  background: linear-gradient(rgba(43, 103, 241, 0.3), rgba(255, 255, 255, .15));
  backdrop-filter: blur(25px);
  display: flex;
  justify-content: center;
  align-items: center;

  height: 30px;
  width: 60%;

  /*background: #00ab66;*/

  border-radius: 5px;

  font-size: 15px;
  font-weight: bold;
  color: white;

  text-transform: capitalize;

  border: 0.25px solid rgba(255, 255, 255, 0.33);
  box-shadow: 2px 3px 1px 1px rgba(0, 0, 100, .5);
}

.NavButton {
  background: linear-gradient(rgba(43, 103, 241, 0.3), rgba(255, 255, 255, .15));
  backdrop-filter: blur(25px);
  display: flex;
  justify-content: center;
  align-items: center;

  height: 30px;
  width: 60%;

  /*background: #00ab66;*/

  border-radius: 5px;

  font-size: 15px;
  font-weight: bold;
  color: white;

  text-transform: capitalize;

  border: 0.25px solid rgba(255, 255, 255, 0.33);
  box-shadow: 2px 3px 1px 1px rgba(0, 0, 100, .5);
}

.BalanceButton {
  background: linear-gradient(rgba(43, 103, 241, 0.3), rgba(255, 255, 255, .15));
  backdrop-filter: blur(25px);
  display: flex;
  justify-content: center;
  align-items: center;

  height: 30px;
  width: 60%;

  /*background: #00ab66;*/

  border-radius: 5px;

  font-size: 15px;
  font-weight: bold;
  color: white;

  text-transform: capitalize;

  border: 0.25px solid rgba(255, 255, 255, 0.33);
  box-shadow: 2px 3px 1px 1px rgba(0, 0, 100, .5);
}

  .small_image {
    width: 150px;
  }

@media (max-width: 1920px) {

  h1 {
    font-size: 20px!important;
  }
  h2 {
    font-size: 15px!important;
  }
  .small {
  font-size: 16px!important;
}
  .small_image {
    width: 100px!important;
  }
  .clearButton {
      font-size: 16px;
 
      font-weight: normal;
      width: 75%;
      height: 30px;
  }
  .NavButton {
      font-size: 16px;

      font-weight: normal;
      width: 75%;
      height: 30px;
  }
  .BalanceButton {
      font-size: 16px;

      font-weight: normal;
      width: 75%;
      height: 30px;
  }

  .small_fox {
    width: 80px!important;
  }
}

@media (max-width: 1280px) {

  h1 {
    font-size: 20px!important;
  }
  h2 {
    font-size: 15px!important;
  }
  .small {
  font-size: 14px!important;
}
  .small_image {
    width: 100px!important;
  }
  .clearButton {
      font-size: 14px;

      font-weight: normal;
      width: 75%;
      height: 30px;
  }
  .NavButton {
      font-size: 14px;

      font-weight: normal;
      width: 75%;
      height: 30px;
  }
  .BalanceButton {
      font-size: 14px;

      font-weight: normal;
      width: 75%;
      height: 30px;
  }
  .small_fox {
    width: 80px!important;
  }
}

@media (max-width: 1024px) {

  h1 {
    font-size: 20px!important;
  }
  h2 {
    font-size: 15px!important;
  }
  .small {
  font-size: 14px!important;
}
  .small_image {
    width: 80px!important;
  }
  .clearButton {
      font-size: 14px;

      font-weight: normal;
      width: 75%;
      height: 30px;
  }
  .NavButton {
      font-size: 14px;
 
      font-weight: normal;
      width: 75%;
      height: 30px;
  }
  .BalanceButton {
      font-size: 14px;

      font-weight: normal;
      width: 75%;
      height: 30px;
  }
  .small_fox {
    width: 80px!important;
  }
}

@media (max-width: 767.98px) {

  h1 {
    font-size: 20px!important;
  }
  h2 {
    font-size: 15px!important;
  }
  .small {
  font-size: 12px!important;
}
  .small_image {
    width: 80px!important;
  }
  .clearButton {
      font-size: 12px;

      font-weight: normal;
      width: 75%;
      height: 20px;
  }
  .NavButton {
      font-size: 12px;

      font-weight: normal;
      width: 75%;
      height: 20px;
  }
  .BalanceButton {
      font-size: 12px;

      font-weight: normal;
      width: 75%;
      height: 20px;
  }
  .small_fox {
    width: 80px!important;
  }
}

@media (max-width: 321px) {

  h1 {
    font-size: 12px!important;
  }
  h2 {
    font-size: 8px!important;
  }
  .small {
  font-size: 10px!important;
}
  .small_image {
    width: 80px!important;
  }
  .small_fox {
    width: 80px!important;
  }
  .clearButton {
      font-size: 10px;

      font-weight: normal;
      width: 85%;
      height: 20px;
  }
  .NavButton {
      font-size: 10px;

      font-weight: normal;
      width: 85%;
      height: 20px;
  }
  .BalanceButton {
      font-size: 10px;

      font-weight: normal;
      width: 85%;
      height: 20px;
  }
}

@media (max-width: 280px) {

  h1 {
    font-size: 20px!important;
  }
  h2 {
    font-size: 15px!important;
  }
  .small {
  font-size: 10px!important;
}
  .small_image {
    width: 80px!important;
  }
  .small_fox {
    width: 60px!important;
  }
  .clearButton {
      font-size: 10px;

      font-weight: normal;
      width: 85%;
      height: 20px;
  }
  .NavButton {
      font-size: 10px;

      font-weight: normal;
      width: 85%;
      height: 20px;
  }
  .BalanceButton {
      font-size: 10px;

      font-weight: normal;
      width: 85%;
      height: 20px;
  }
}

// Disclaimer
.msa-box {
  width: 140px;
  margin: 0 auto;
  background: rgba(255,255,255);
  padding: 3px;
  border: 2px solid #fff;
  background-clip: padding-box;
  text-align: center;
}

.msa-button {
  font-size: .6em;
  padding: 10px;
  color: #CECECE;
  border: 1px solid #CECECE;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.msa-3s ease-out;
}

.buttons {
  padding:0 0 0 25px;
  display:inline-block;
  zoom:1;
  margin-top:3px;
}

.msa-button:hover {
  background-color: red;
}

.msa-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.51);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.msa-overlay:target {
  visibility: visible;
  opacity: 1;
}

.msa-popup { 
  margin: 70px auto;
  padding: 20px;
  background: #000;
  border-radius: 5px;
  width: 65%;
  position: relative;
  transition: all 5s ease-in-out;
}

.msa-popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.msa-popup .msa-close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}
.msa-popup .msa-close:hover {
  color: #3462FA;
}
.msa-popup .msa-content {
  max-height: 30%;
  overflow: auto;
  font-size:.9em;
}

.msa-container {
  width:100%;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  
}
.outer
{
    width:100%;
    text-align: center;
  
}
.inner
{
    display: inline-block;
}
